html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-text-description {
    display: -webkit-box; /* Verwendet Webkit-Box-Layout für flexibles Layout */
    -webkit-line-clamp: 4; /* Begrenzen auf 4 Zeilen */
    -webkit-box-orient: vertical; /* Setzt die Richtung der Box auf vertikal */
    overflow: hidden; /* Verhindert, dass der Text überläuft */
    text-overflow: ellipsis; /* Fügt "..." hinzu, wenn der Text abgeschnitten wird */
    line-height: 1.5;
    text-align: left;
}

.card-text-haus-nummer {
    width: 100%; /* Optional, abhängig von deinem Layout */
}

.left-aligned {
    margin: 0; /* Entfernt die Standard-Margen oben und unten */
    padding: 0; /* Entfernt eventuelle Innenabstände */
    text-align: left; /* Stellt sicher, dass der Text linksbündig ist */
}


.left-aligned-icon {
    margin-left: 5%;
    text-align: left;
}

.card-margin{
    margin: 1%;
}

.logo{
    max-height: 30px;
}

.link-button{
    margin:2%;
}